@media (max-width: 1200px) {
    .header {
        width: 1000px;
    }
    .intro {
        width: 1000px;
    }
    .tech-stack {
        width: 800px;
    }
    .tech-stack__grid {
        width: 800px;
        grid-template-columns: 200px 200px 200px 200px;
    }
    .projects {
        width: 800px;
    }
    .projects__grid {
        grid-template-columns: 375px 375px;
    }
    .footer {
        width: 1000px;
    }
    .footer__menu {
        width: 400px;
    }
}

@media (max-width: 1000px) {
    .header {
        width: 800px;
    }
    .nav .nav__item {
        margin-right: 25px;
    }
    .nav__item--social {
        margin-left: 25px;
    }
    .mav li a {
        font-size: 22px;
    }
    .intro {
        width: 800px;
    }
    .intro__text {
        width: 433px;
        font-size: 40px;
    }
    .gradient-text {
        font-size: 40px;
    }
    .footer {
        width: 800px;
    }
    .footer__menu {
        width: 330px;
    }
    .footer__menu li {
        margin-right: 0;
    }
}