@font-face {
    font-family: 'DM Sans';
    src: url("../fonts/DMSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* header */

.header {
    margin: 49px auto;
    width: 1200px;
}

.nav {
    float: right;
    list-style: none;
}

.nav .nav__item {
    margin-top: 8px;
    position: relative;
    float: left;
    margin-right: 60px;
}

.nav .nav__item--contact {
    margin-top: 8px;
    position: relative;
    float: left;
}

.nav li a {
    color: rgba(102, 102, 102, 1);
    font-size: 20px;
    font-weight: 500;
    font-family: "DM Sans", "serif";
    text-decoration: none;
}

.nav__item--social {
    margin-top: 2px;
    position: relative;
    float: left;
    margin-left: 45px;
}

.nav__item--social img {
    margin-left: 13px;
    cursor: pointer;
}

.intro {
    width: 1200px;
    display: flex;
    margin: 220px auto 0;
    justify-content: space-between;
}

/* intro */

.intro__text,
.intro__detail,
.intro__name,
.intro__greeting {
    display: block;
}

.intro__text {
    margin-top: 45px;
    width: 620px;
    font-family: "Poppins", "serif";
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: rgba(66, 68, 110, 1);
}

.gradient-text {
    font-family: "Poppins", "serif";
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 220%);
    background-clip: text;
    color: transparent;
}

/* tech-stack */

.tech-stack {
    width: 1200px;
    margin: 320px auto 0;
}

.tech-stack__title {
    text-align: center;
    font-family: "Poppins", "serif";
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    color: rgba(66, 68, 110, 1);
}

.tech-stack__description {
    text-align: center;
    font-family: "Poppins", "serif";
    font-weight: 400;
    font-size: 32px;
    line-height: 26px;
    color: rgba(102, 102, 102, 1);
    margin-top: 50px;
}

.tech-stack__grid {
    display: grid;
    width: 1200px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    margin-top: 100px;
}

.tech-stack__grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.tech-stack__list {
    text-decoration: none;
    list-style: none;
}

/* Project */

.projects {
    width: 1200px;
    margin: 200px auto 0;
}

.projects__title {
    text-align: center;
    font-family: "Poppins", "serif";
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    color: rgba(66, 68, 110, 1);
}

.projects__description {
    text-align: center;
    font-family: "Poppins", "serif";
    font-weight: 400;
    font-size: 32px;
    line-height: 26px;
    color: rgba(102, 102, 102, 1);
    margin-top: 50px;
}

.projects__grid {
    display: grid;
    grid-template-columns: 375px 375px 375px;
    column-gap: 37px;
    row-gap: 50px;
    margin-top: 100px;
}
.projects__grid div {
    width: 375px;
    height: 567px;
    box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.project__name {
    width: 314px;
    font-family: "Poppins", "serif";
    font-weight: 500;
    font-size: 28px;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 20px;
    color: rgba(0, 0, 0, 1);
}
.project__details {
    width: 314px;
    font-family: "Poppins", "serif";
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 16px;
    color: rgba(102, 102, 102, 1);
}
.project__tech-stack {
    width: 314px;
    font-family: "Poppins", "serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(66, 68, 110, 1);
    margin: 0 auto;
    margin-top: 15px;
}
.project__technologies {
    font-family: "Poppins", "serif";
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: rgba(66, 68, 110, 1);
}

.project__links {
    width: 314px;
    margin: 0 auto;
    margin-top: 15px;
    text-decoration: none;
    list-style: none;
}
.project-link__chain a {
    font-family: "Poppins", "serif";
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    margin-left: 30px;
    text-decoration: none;
    list-style: none;
}
.project__link--live {
    position: absolute;
    margin-top: 2px;
}
.project__link--code {
    position: absolute;
    margin-top: 3px;
    margin-left: 50px;
}
.project-link__git a {
    font-family: "Poppins", "serif";
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    margin-left: 80px;
    text-decoration: none;
    list-style: none;
}

/* footer */

.footer {
    margin: 200px auto 0;
    width: 1200px;
}

.footer__contacts {
    position: relative;
    display: flex;
    float: right;
    margin-top: 20px;

}
.footer__phone {
    font-family: "DM Sans", "serif";
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    cursor: pointer;
    text-decoration: none;
    color: #42446E;
}
.footer__email {
    font-family: "DM Sans", "serif";
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-left: 60px;
    margin-right: 70px;
    cursor: pointer;
    text-decoration: none;
    color: #42446E;
}

.footer__social-icons {
    text-decoration: none;
}

.footer__social-icons img {
    margin-left: 13px;
    cursor: pointer;
}

.footer__bottom {
    padding-top: 40px;
    margin-bottom: 50px;
    border-top: 2px solid rgba(102, 102, 102, 0.3);
    margin-top: 40px;
}

.footer__menu {
    float: left;
    list-style: none;
    margin-bottom: 50px;
}

.footer__menu li {
    position: relative;
    float: left;
}

.footer__menu li a {
    font-family: "DM Sans", "serif";
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: rgba(66, 68, 110, 1);
    margin-right: 50px;
}

.footer__menu li .gies {
    font-family: "DM Sans", "serif";
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: rgba(66, 68, 110, 1);
    margin-right: 50px;
}

.footer__credits {
    float: right;
    font-family: "Poppins", "serif";
    font-weight: 400;
    font-size: 18px;
    color: rgba(21, 20, 57, 0.4);
}

.footer__author {
    background: linear-gradient(90deg, #7D60D0 -0.01%, #E70FAA 300%);
    background-clip: text;
    color: transparent;
}

.footer__love {
    background: linear-gradient(90deg, #7D60D0 5.01%, #E70FAA 120.06%);
    background-clip: text;
    color: transparent;
}

.footer__coffee {
    background: linear-gradient(90deg, #7D60D0 0.01%, #E70FAA -0.06%);
    background-clip: text;
    color: transparent;
}